{% extends "learning_logs/base.html" %}

{% block content %}
<p class="text-center">Topic: {{ topic  }}</p>
	<ul class="list-group">
	  {% for entry in entries %}
	    <li class="list-group-item">
			<p>{{ entry.date_added|date:'d M Y H:i' }} 
			  <a href="{% url 'learning_logs:update_entry' entry.id %}">
				  <i class="bi bi-pen text-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i></a>
			  <a href="{% url 'learning_logs:delete_entry' entry.id %}">
				  <i class="bi bi-trash text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i></a>
			</p>
			<p>{{ entry.text|linebreaks }}</p>
		</li>
      {% empty %}
		<li class="list-group-item">No added any entires</li>
	 {% endfor %}
	</ul>
	<div class='text-center'>
	  <form>
		<button type="submit" formaction="{% url 'learning_logs:new_entry' topic.id %}" 
		  class="btn btn-outline-dark btn-sm">Add entry</button>
  	  </form>
	</div>
  {% include "learning_logs/footer.html" %}
{% endblock content %}
