{% extends "learning_logs/base.html" %}

{% load bootstrap %}

{% block content %}
<p class="text-center">Update entry for {{ topic }}</p>
<div class="container">
	<form action="{% url 'learning_logs:update_entry' entry.id %}" method="post">
	  <div class="mb-3">
		<label for="InputTopic" class="form-label">Old entry</label>
		{% csrf_token %}
		{{ form.as_p }}
		<div id="topicHelp" class="form-text">Edit entry for topic</div>
	  </div>
	  <button type="submit" class="btn btn-primary">Update</button>
	</form>
</div>


  {% include "learning_logs/footer.html" %}
{% endblock content %}
