.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:5px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-percent{background-color:transparent;border-color:#c1c1c1;color:#009901;text-align:right;vertical-align:top}
.tg .tg-summonth{background-color:transparent;border-color:#c1c1c1;color:#6434fc;text-align:right;vertical-align:top}
.tg .tg-amount{background-color:transparent;border-color:#c1c1c1;color:#3d3d3d;text-align:left;vertical-align:top}
.tg .tg-no{background-color:transparent;border-color:#c1c1c1;color:#9b9b9b;text-align:center;vertical-align:top;font-size:13px;padding:5px 2px}
.tg .tg-month{background-color:transparent;border-color:#c1c1c1;color:#cb0000;text-align:center;vertical-align:top}
.tg .tg-profit{background-color:transparent;border-color:#c1c1c1;color:#FF8000;text-align:left;vertical-align:top;padding:5px 3px}
.tg .tg-sumday{background-color:transparent;border-color:#c1c1c1;color:#158466;text-align:left;vertical-align:top;padding:5px 3px}
.tg .tg-date{background-color:transparent;border-color:#c1c1c1;color:#5D6D7E;text-align:center;vertical-align:top;font-size:13px;padding:5px 1px}
.tg .tg-qamount{background-color:transparent;border-color:#c1c1c1;color:#28B463;text-align:left;vertical-align:top}
.tg .tg-qpercent{background-color:transparent;border-color:#c1c1c1;color:#5DADE2;text-align:left;vertical-align:top;padding:5px 3px}
.tg .tg-qdayprofit{background-color:transparent;border-color:#c1c1c1;color:#229954;text-align:left;vertical-align:top;padding:5px 3px}
.tg .tg-minus{background-color:transparent;border-color:#c1c1c1;color:#E74C3C;text-align:left;vertical-align:top;padding:5px 3px}
.text-temp{color:#9b9b9b}
.form-control{background-color: rgb(0 0 0 / 8%)}
.form-control:focus{background-color: rgb(0 0 0 / 25%)}
.row-margin-05 { margin-top: 0.5em; }
.row-margin-10 { margin-top: 1.0em; }
.row-margin-20 { margin-top: 2.0em; }
.row-margin-30 { margin-top: 3.0em; }
.col-margin-05 { margin-top: 0.5em; }
.col-margin-10 { margin-top: 1.0em; }
.col-margin-20 { margin-top: 2.0em; }
.col-margin-30 { margin-top: 3.0em; }
body .year-sm-text { font-size: 0.7rem; color: #686868; }

.ncard {
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(0 0 0 / 8%);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	margin: 0 auto; 
	float: none;
	margin-bottom: 10px;
}
.center {
    margin: 0 auto;
    width: 80%;
}
table th {
   text-align: center; 
}

.table {
   margin: auto;
   width: 50% !important; 
}
