{% extends "cfd/base.html" %}
{% load static %}
{% block link %}
	<link rel="stylesheet" href="{% static 'cfd/style/table.css' %}" type="text/css">
{% endblock link %}

{% block content %}
  <main class="container flex-shrink-0">
    <div class="p-5 rounded">
	  <p class="lead">Calculate take profit & stop loss</p>
      <div class="row">
		  <div class="col-md-4">

			<form action="{% url 'cfd:calc_set' %}" method="post" class="row g-3">
			  {% csrf_token %}
			  <div class="col-md-6 input-group-sm">
				<input type="number" step="1" name="" value="1" class="form-control">
				<label for="margin_value" class="year-sm-text">Margin value</label>
			  </div>
			  <div class="col-md-6 input-group-sm">
				<input type="number" step="0.1" name="pip_value" value="1" class="form-control">
				<label for="pip_value" class="year-sm-text">Pip value</label>
			  </div>
			  <div class="col-md-6 input-group-sm">
				<input type="number" step="1" name="gap" value="1" class="form-control">
				<label for="gap" class="year-sm-text">Gap</label>
			  </div>
			  <div class="col-md-6 input-group-sm">
				<input type="number" step="0.1" name="lot" value="1" class="form-control">
				<label for="lot" class="year-sm-text">Lot size</label>
			  </div>
			  <div class="col-12 input-group-sm">
				<input type="number" step="1" name="tp_buy" value="1" class="form-control">
				<label for="tp_buy" class="year-sm-text">Take Profit</label>
			  </div>
			  <div class="col-12 input-group-sm text-center">
				<button type="submit" class="btn btn-outline-secondary btn-sm">Set</button>
			  </div>
			</form>

		  </div> <!-- col-md -->
		  <div class="col-md-4">

			<form action="{% url 'cfd:calc_set' %}" method="post" class="row g-3">
			  {% csrf_token %}
			  <div class="card ncard border-info mb-1" style="max-width: 18rem;">
				<div class="card-header">Set trade levels</div>
				  <div class="card-body">
					  <div class="col-md-8 input-group-sm">
						<input type="number" step="1" name="buy_level" value="1" class="form-control">
						<label for="buy_level" class="year-sm-text">Buy Level</label>
					  </div>
					  <div class="col-12 input-group-sm text-center">
						<button type="submit" class="btn btn-outline-info btn-sm">Set</button>
					  </div>
				  </div>
				</div>
			  </div>
			</form>
		  
		  </div> <!-- col-md -->
      </div> <!-- row -->

	</div><!-- p-5 rounded -->
  </main>
  {% include "cfd/footer.html" %}
{% endblock content %}
