
	<footer class="footer mt-auto py-3 ">
	  <div class="container">
		<ul class="nav justify-content-center border-bottom ">
		  <li class="nav-item">
			  <a href="{% url 'cfd:index' %}" class="nav-link px-2 text-muted">
				  Home
			  </a>
		  </li>
		  <li class="nav-item">
			  <a href="{% url 'cfd:statement' %}" class="nav-link px-2 text-muted">
				  Statement
			  </a>
		  </li>
		  <li class="nav-item">
			  <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=learning_log" target="_blank" class="nav-link px-2 text-muted">
				  phpMyAdmin
			  </a>
		  </li>
		  <li class="nav-item">
			  <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" target="_blank" class="nav-link px-2 text-muted">
				  Bootstrap
			  </a>
		  </li>
		  <li class="nav-item">
			  <a href="https://docs.djangoproject.com/en/3.2/" target="_blank" class="nav-link px-2 text-muted">
				  FAQs
			  </a>
		  </li>
		  <li class="nav-item">
			  <a href="http://nook17.pl/about" target="_blank" class="nav-link px-2 text-muted">
				  About
			  </a>
		  </li>
		</ul>
		<p class="text-center text-muted">&copy; 2021 - Nook Web Developer</p>
	  </div>
	</footer>
