{% extends "cfd/base.html" %}
{% load static %}
{% block link %}
	<link rel="stylesheet" href="{% static 'cfd/style/table.css' %}" type="text/css">
{% endblock link %}

{% block content %}
  <main class="container flex-shrink-0">
    <div class="p-5 rounded">
	  <p class="lead">Quarterly statement</p>
      <div class="row">
		  <div class="col-md-5">
			<form action="{% url 'cfd:quarter_set' %}" method="post">
				{% csrf_token %}
				  <div class="col-auto">
					<div class="input-group input-group-sm">
					  <button class="btn btn-outline-secondary btn-sm"
							  type="submit">Set</button>
				      <input type="number" step="1" name="id" 
					  value="{{ percent|floatformat:"0" }}" class="form-control">
					  <input type="text" name="date" class="form-control" 
							  id="date" placeholder="21-02">
					  <input type="number" step="1" name="profit" 
					  value="{{ amount_base|safe }}" class="form-control">
					</div>
						<span class="year-sm-text">
						  Set:  ID <i class="bi bi-arrow-right text-secondary" 
									  data-bs-toggle="tooltip" 
									  data-bs-placement="top"></i> Date 
						  	       <i class="bi bi-arrow-right text-secondary" 
									  data-bs-toggle="tooltip" 
									  data-bs-placement="top"></i> Amount.  
						</span>
				  </div>
			</form>
		  </div> <!-- col-md -->
	  </div> <!-- row -->
      <div class="row">
        <div class="col-md-4 col-margin-10">
			<table class="tg">
				<thead>
				  <tr>
					<th class="tg-month" colspan="7">MONTH 1</th>
				  </tr>
				</thead>
				<tbody>
				  {% for l in lists %}
				    {% if forloop.counter <= 22 %}
					  <tr>
						  <td class="tg-no">{{ forloop.counter }}</td>
						  <td class="tg-amount">{{ l.4 }}</td>
						  <td class="tg-profit">{{ l.1|floatformat:"0" }}</td>
						  <td class="tg-sumday">{{ l.2|floatformat:"0" }}</td>
						  <td class="tg-sumday">{{ l.5|floatformat:"0" }}</td>
						  <td class="tg-no">{{ l.6|floatformat:"1" }}</td>
						  <td class="tg-profit">{{ l.7 }}</td>
					  </tr>
					{% endif %}
				  {% endfor %}
				  <tr>
					<td class="tg-percent" colspan="2">
						<span class="text-temp">%M: </span>
						  {% for l in lists %}
						    {% if forloop.counter == 22 %}
						      {{ l.3|floatformat:"0" }}</td>
							{% endif %}
						  {% endfor %}
					<td class="tg-summonth" colspan="2">
						<span class="text-temp">sum: </span>
						  {% for l in lsum %}
						    {% if forloop.counter == 1 %}
						      {{ l|floatformat:"0" }}</td>
					        {% endif %}
						  {% endfor %}
				  </tr>
				</tbody>
			</table>
		</div> <!-- col-md -->
        <div class="col-md-4 col-margin-10">
			<table class="tg">
				<thead>
				  <tr>
					<th class="tg-month" colspan="7">MONTH 2</th>
				  </tr>
				</thead>
				<tbody>
				  {% for l in lists %}
				    {% if forloop.counter > 22 and forloop.counter <= 44 %}
					  <tr>
						  <td class="tg-no">{{ forloop.counter }}</td>
						  <td class="tg-amount">{{ l.4 }}</td>
						  <td class="tg-profit">{{ l.1|floatformat:"0" }}</td>
						  <td class="tg-sumday">{{ l.2|floatformat:"0" }}</td>
						  <td class="tg-sumday">{{ l.5|floatformat:"0" }}</td>
						  <td class="tg-no">{{ l.6|floatformat:"1" }}</td>
						  <td class="tg-profit">{{ l.7 }}</td>
					  </tr>
					{% endif %}
				  {% endfor %}
				  <tr>
					<td class="tg-percent" colspan="2">
						<span class="text-temp">%M: </span>
						  {% for l in lists %}
						    {% if forloop.counter == 44 %}
						      {{ l.3|floatformat:"0" }}</td>
							{% endif %}
						  {% endfor %}
					<td class="tg-summonth" colspan="2">
						<span class="text-temp">sum: </span>
						  {% for l in lsum %}
						    {% if forloop.counter == 2 %}
						      {{ l|floatformat:"0" }}</td>
					        {% endif %}
						  {% endfor %}
				  </tr>
				</tbody>
			</table>
		</div> <!-- col-md -->
        <div class="col-md-4 col-margin-10">
			<table class="tg">
				<thead>
				  <tr>
					<th class="tg-month" colspan="7">MONTH 3</th>
				  </tr>
				</thead>
				<tbody>
				  {% for l in lists %}
				    {% if forloop.counter > 44 and forloop.counter <= 66 %}
					  <tr>
						  <td class="tg-no">{{ forloop.counter }}</td>
						  <td class="tg-amount">{{ l.0|floatformat:"0" }}</td>
						  <td class="tg-profit">{{ l.1|floatformat:"0" }}</td>
						  <td class="tg-sumday">{{ l.2|floatformat:"0" }}</td>
						  <td class="tg-sumday">{{ l.5|floatformat:"0" }}</td>
						  <td class="tg-no">{{ l.6|floatformat:"1" }}</td>
						  <td class="tg-profit">{{ l.7 }}</td>
					  </tr>
					{% endif %}
				  {% endfor %}
				  <tr>
					<td class="tg-percent" colspan="2">
						<span class="text-temp">%M: </span>
						  {% for l in lists %}
						    {% if forloop.counter == 66 %}
						      {{ l.3|floatformat:"0" }}</td>
							{% endif %}
						  {% endfor %}
					<td class="tg-summonth" colspan="2">
						<span class="text-temp">sum: </span>
						  {% for l in lsum %}
						    {% if forloop.counter == 3 %}
						      {{ l|floatformat:"0" }}</td>
					        {% endif %}
						  {% endfor %}
				  </tr>
				</tbody>
			</table>
		</div> <!-- col-md -->
      </div> <!-- row -->
      <div class="row mt-3">
		  <div class="col-md-5">
			<form action="{% url 'cfd:quarter_set_percent' %}" method="post">
				{% csrf_token %}
				  <div class="col-auto">
					<div class="input-group input-group-sm">
					  <button class="btn btn-outline-secondary btn-sm"
							  type="submit">Set</button>
				      <input type="number" step="0.1" name="percent_1" 
					  value="{{ percent_1|floatformat:"1" }}" class="form-control">
				      <input type="number" step="0.1" name="percent_2" 
					  value="{{ percent_2|floatformat:"1" }}" class="form-control">
				      <input type="number" step="0.1" name="percent_3" 
					  value="{{ percent_3|floatformat:"1" }}" class="form-control">
					  <input type="number" step="100" name="amount_quarter" 
					  value="{{ amount_base|safe }}" class="form-control">
					</div>
						<span class="year-sm-text">
						  Set:  percent Q1 
						    <i class="bi bi-arrow-right text-secondary" 
							  data-bs-toggle="tooltip" 
							  data-bs-placement="top"></i> percent Q2
						    <i class="bi bi-arrow-right text-secondary" 
							  data-bs-toggle="tooltip" 
							  data-bs-placement="top"></i> percent Q3  
						    <i class="bi bi-arrow-right text-secondary" 
							  data-bs-toggle="tooltip" 
							  data-bs-placement="top"></i> Amount.  
						</span>
				  </div>
			</form>
		  </div> <!-- col-md -->
	  </div> <!-- row -->
	</main>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
  {% include "cfd/footer.html" %}
{% endblock content %}
