{% extends "cfd/base.html" %}

{% block content %}
	<main class="container flex-shrink-0">
	  <div class="p-5 rounded">
		<p class="lead">Statement</p>
		  <p>Day: <b>{{ format_day }}</b></p>
		  {{ df|safe }}
		<p>Profit: <b>{{ sum_profit }}</b> zł</p>
		<p>Loss: <b>{{ loss_profit }}</b> zł</p>
		<p>Balance: <b>{{ day_sum }}</b> zł</p>
		<p>pkt: <b>{{ pkt_sum }}</b> pkt</p>
		<p>Commission: <b>{{ commission_sum }}</b> zł</p>
		<p>Swap: <b>{{ swap_sum }}</b> zł</p>
	  </div>

<div class="row">
	<div class="col-md-6">
	<canvas id="myChartline"></canvas>
	</div>
	<div class="col-md-6">
	<canvas id="myChartBar"></canvas>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
	var endpoint = '/api';

	$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data) {
		drawLineGraph(data, 'myChartline');
		drawBarGraph(data, 'myChartBar');
		console.log("drawing");
	},
	error: function(error_data) {
		console.log(error_data);
	}
	})

	function drawLineGraph(data, id) {
	var labels = data.labels;
	var chartLabel = data.chartLabel;
	var chartdata = data.chartdata;
	var ctx = document.getElementById(id).getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'line',

		// The data for our dataset
		data: {
		labels: labels,
		datasets: [{
			label: chartLabel,
			backgroundColor: 'rgb(255, 100, 200)',
			borderColor: 'rgb(55, 99, 132)',
			data: chartdata,
		}]
		},

		// Configuration options go here
		options: {
		scales: {
			xAxes: [{
			display: true
			}],
			yAxes: [{
			ticks: {
				beginAtZero: true
			}
			}]
		}
		}

	});
	}

	function drawBarGraph(data, id) {
	var labels = data.labels;
	var chartLabel = data.chartLabel;
	var chartdata = data.chartdata;
	var ctx = document.getElementById(id).getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
		labels: labels,
		datasets: [{
			label: chartLabel,
			data: chartdata,
			backgroundColor: 'rgba(75, 192, 192, 0.2)',
			borderColor: 'rgba(75, 192, 192, 1)',
			borderWidth: 1
		}]
		},
		options: {
		scales: {
			yAxes: [{
			ticks: {
				beginAtZero: true
			}
			}]
		}
		}
	});
	}
</script>

	</main>
  {% include "cfd/footer.html" %}
{% endblock content %}

