{% extends "cfd/base.html" %}
{% block content %}
	<main class="container flex-shrink-0">
	  <div class="p-5 rounded">
		<p class="lead">Update deposit</p>
		<div class="row">
			<div class="col-md-6">
				<div class="container bootstrap-iso">
					<form action="{% url 'cfd:update_deposit' updepo.id %}" method="post">
						{% csrf_token %}
						  <div class="col-auto">
							<label class="visually-hidden" 
								for="autoSizingInput">Date
							</label>
							<input type="text" name="date_dep" 
							  value="{{ updepo.date_dep|date }}" 
							  class="form-control" id="date">
						  </div>
						  <div class="col-auto mt-3">
							<label class="visually-hidden" 
								for="autoSizingInputGroup">Amount
							</label>
							<div class="input-group">
							  <input type="number" name="amount_dep"
									 			 class="form-control"
												 id="autoSizingInputGroup"
												 value="{{ updepo.amount_dep|safe }}">
							</div>
						  </div>
						  <div class="col-auto mt-3">
							<label class="visually-hidden"
								for="autoSizingSelect">Bank:  
							</label>
							<select class="form-select" type="text" 
								name="bank_name" id="autoSizingSelect">
							  <option selected>iPKO</option>
							  <option value="Pekao">Pekao</option>
							</select>
						  </div>
						  <div class="col-auto text-center">
							<button type="submit" 
								class="btn btn-outline-dark btn-sm">Send
							</button>
						  </div>					
					</form>
				</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	  </div>
	</main>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date_dep"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
  {% include "cfd/footer.html" %}
{% endblock content %}

