{% extends "contact/base.html" %}
{% load static %}

{% block content %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact mt-5">
      <div class="container" data-aos="fade-up">
        <div class="section-title mt-3">
          <h2>Kontakt</h2>
          <p>Tu nas znajdziesz</p>
        </div>
      </div>

      <div class="container" data-aos="fade-up">
          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="php-email-form">
			  {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Imię" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Nazwa usterki" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Krótki opis usterki przyspieszy diagnozę" required></textarea>
              </div>
              <!-- <div class="my-3"> -->
                <!-- <div class="loading">Loading</div> -->
                <!-- <div class="error-message"></div> -->
                <!-- <div class="sent-message">Your message has been sent. Thank you!</div> -->
              <!-- </div> -->
              <div class="text-center"><button type="submit">Wyślij zgłoszenie</button></div>
            </form>

          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}
